.XPathEditor {
    background-color: #252525;
    padding: 6px 12px;
    margin: 0;
    display: block;

    width: 100%;
    min-height: 4em;
    font-size: 1.2rem;

    color: #d3d3d3;
    text-align: start;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}
