.SyntaxTheme {
    --background: #292c3e;
    --foreground: #b4b4b4;
    --variable: #e06c75;
    --keyword: #c573de;
    --number: #00fff3;
    --constant: #e06c75;
    --method: #59b4ff;
    --string: #6eff59;
    --operator: #3cc9c2;
    --comment: #6b6c6f;
    --error: #ff0000;

    background: var(--background);
    color: var(--foreground);
    white-space: pre-wrap;
    padding: 0;
    margin: 0;

    &__regular {
        color: var(--foreground);
    }

    &__variable {
        color: var(--variable);
    }

    &__keyword {
        color: var(--keyword);
    }

    &__number {
        color: var(--number);
    }

    &__constant {
        color: var(--constant);
    }

    &__method {
        color: var(--method);
    }

    &__string {
        color: var(--string);
    }

    &__operator {
        color: var(--operator);
    }

    &__comment {
        color: var(--comment);
    }

    &__error {
        color: var(--error);
    }

    &__highlightedError {
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: var(--error);
        background-color: rgb(255 0 0 / 50%);
    }
}
